<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>The camera is used to allow other participants to see the user in the web conference.
</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone is used to allow other participants to hear the user in the web conference.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
	</array>
</dict>
</plist>
